Django<5.0
django-environ
django-extensions

# model version control
django-simple-history
# Management
django-import-export
django-grappelli
django-admin-rangefilter
django-admin-autocomplete-filter
# Browser Reload
django-browser-reload

# Formatting and Linting
ruff
djlint
# Rest Framework
djangorestframework
django-cors-headers

# Testing
pytest-django
pytest-sugar
coverage
