Django<5.0
django-environ
django-extensions

# model version control
django-simple-history
# Management
django-import-export

# Browser Reload
django-browser-reload
# Formatting and Linting
ruff

# Rest Framework
djangorestframework
django-cors-headers

# Testing
pytest-django
pytest-sugar
coverage
